@{
  Layout = "_Layout";
}
<main class="container">

  @model Factory.Models.Machine

  <h4>Enroll new machine</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName,
  new { required = "required" })

    @Html.Label("Select engineer")
    @Html.DropDownList("CourseId")

    @Html.LabelFor(model => model.DateOfEnrollment)
    @Html.TextBoxFor(model => model.DateOfEnrollment,
  new { @type = "date" , @value = DateTime.Today })

    <input type="submit" value="Enroll" class="btn btn-default" />
  }
  <a href='@Url.Action("Index", "Machines")' role="button" class="btn btn-warning">Back to Machines</a>
</main>