@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<main class="container">

  <h2>Machine Details</h2>
  <hr />
  <h2><span class="title">Name:</span> <span class="content">@Html.DisplayFor(model => model.MachineName)</span></h2>
  <h3><span class="title">Id Number:</span> <span class="content">@Html.DisplayFor(model => model.MachineId)</span></h3>
  <h3><span class="title">Date of Installation:</span> <span class="content">@Html.DisplayFor(model =>
      model.InstallDate)</span></h3>
  <h3><span class="title">Hours in Operation:</span> <span class="content">@Html.DisplayFor(model =>
      model.HoursOperated)</span></h3>
  <h3><span class="title">Date of Last Inspection:</span> <span class="content">@Html.DisplayFor(model =>
      model.LastInspection)</span>
  </h3>
  <h3><span class="title">Inspection Cycle:</span> <span class="content">@Html.DisplayFor(model =>
      model.InspectionCycle)</span></h3>

  <p>@Html.DisplayFor(model => model.MachineDescription)</p>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>This machine is not enrolled in any engineers.</p>
  }
  else
  {
    <h4>Engineers certified to :</h4>
    <ul>
      @foreach (var join in Model.JoinEntities)
      {
        <li>@join.Engineer.EngineerName</li>
        @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" />
        }
      }
    </ul>
  }
  <a href='@Url.Action("AddEngineer", "Machines", new { id = Model.MachineId })' role="button"
    class="btn btn-warning">Add
    a Engineer</a>
  <a href='@Url.Action("Index", "Machines")' role="button" class="btn btn-warning">Back to Machines</a>
  <a href='@Url.Action("Edit","Machines", new { id = Model.MachineId })' role="button" class="btn btn-warning">Edit
    Machine</a>
  <a href='@Url.Action("Delete","Machines", new { id = Model.MachineId })' role="button" class="btn btn-warning">Delete
    Machine</a>
</main>
