@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<main class="container">

  <h2>Edit</h2>

  <h4>Edit this task: @Html.DisplayFor(model => model.MachineName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName,
  new { required = "required" })

    @Html.LabelFor(model => model.MachineDescription)
    @Html.TextBoxFor(model => model.MachineDescription,
  new { required = "required" })


    @Html.LabelFor(model => model.InstallDate)
    @Html.TextBoxFor(model => model.InstallDate,
  new
  {
  @type = "date" , @value = DateTime.Today })

    @Html.LabelFor(model => model.HoursOperated)
    @Html.TextBoxFor(model => model.HoursOperated,
  new { required = "required" })

    @Html.LabelFor(model => model.LastInspection)
    @Html.TextBoxFor(model => model.LastInspection,
  new
  {
  @type
  = "date" , @value = DateTime.Today })

    @Html.LabelFor(model => model.InspectionCycle)
    @Html.TextBoxFor(model => model.InspectionCycle,
  new { required = "required" })
    <input type="submit" value="Save" class="btn btn-default" />
  }
  <a href='@Url.Action("Index","Machines")' role="button" class="btn btn-warning">Back to Enrolled Machines</a>
</main>