@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department
<main class="container">

  <h2>Edit</h2>

  <h4>Edit this course: @Html.DisplayFor(model => model.DepartmentName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.DepartmentId)

    @Html.LabelFor(model => model.DepartmentName)
    @Html.TextBoxFor(model => model.DepartmentName)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.DeanName)
    @Html.TextBoxFor(model => model.DeanName)

    @Html.LabelFor(model => model.ContactInfo)
    @Html.TextBoxFor(model => model.ContactInfo)

    <input type="submit" value="Save" />
  }
  <a href='@Url.Action("Index", "Courses")' role="button" class="btn btn-warning">Back to courses</a>
  @* <p>@Html.ActionLink("Back to list", "Index")</p> *@
</main>