@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course;
<main class="container">
  <div class="row course-details">
    <h2>Course Details</h2>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName) |
      @Html.DisplayFor(model => model.CourseNumber)</h3>
    @Html.HiddenFor(model => model.CourseId)

    <p>@Html.DisplayFor(model => model.Description)<br>
      @Html.DisplayFor(model => model.CourseSchedule)<br>
      @Html.DisplayFor(model => model.TeacherName)</p>
  </div>
  <div class="row student-details">

    @foreach (var join in Model.JoinEntities2)
    {
      <div class="col-md-3">
        <h2><span class="title">Department Name:</span> <span class="content">@join.Department.DepartmentName</span></h2>
        <h3><span class="title">Id Number:</span> <span class="content">@join.Department.DepartmentId</span></h3>
      </div>
    }

    @if (@Model.JoinEntities1.Count == 0)
    {
      <p>This course does not contain any students yet</p>
    }
    else
    {
      <h4>All students in the course:</h4>

      @foreach (var join in Model.JoinEntities1)
      {
        <div class="col-md-3">
          <h2><span class="title">Name:</span> <span class="content">@join.Student.StudentName</span></h2>
          <h3><span class="title">Id Number:</span> <span class="content">@join.Student.StudentId</span></h3>
        </div>
      }
    }
  </div>
  <div class="row sheparding-buttons">
    <a href='@Url.Action("Index", "Home", new {@class="btn"})' role="button" class="btn btn-warning">Home</a>
    @* <p>@Html.ActionLink("Back to courses", "Index", new {@class="btn"})</p> *@
    <a href='@Url.Action("Edit", "Courses", new { id = Model.CourseId })' role="button" class="btn btn-warning">Edit
      course</a>
    @* <p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p> *@
    <a href='@Url.Action("Delete", "Courses", new { id = Model.CourseId })' role="button" class="btn btn-warning">Delete
      course</a>
    @* <p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p> *@
  </div>
</main>