<header>
  <div class="container">
    <h1 class="page-title">University Registrar</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Home")'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Engineers")'>Engineers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Engineers")'>Add Engineer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Machines")'>Machines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Machines")'>Add Machine</a>
      </li>
    </ul>
  </div>
</header>
