<header>
  <div class="container">
    <h1 class="page-title">University Registrar</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Home")'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Departments")'>Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Departments")'>Add Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Courses")'>Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Courses")'>Add Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Students")'>Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Students")'>Add Student</a>
      </li>
    </ul>
  </div>
</header>
