@{
  Layout = "_Layout";
}
<main class="container">

  @model UniversityRegistrar.Models.Student

  <h4>Enroll new student</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.StudentName)
    @Html.TextBoxFor(model => model.StudentName,
  new { required = "required" })

    @Html.Label("Select course")
    @Html.DropDownList("CourseId")

    @Html.LabelFor(model => model.DateOfEnrollment)
    @Html.TextBoxFor(model => model.DateOfEnrollment,
  new { @type = "date" , @value = DateTime.Today })

    <input type="submit" value="Enroll" class="btn btn-default" />
  }
  <a href='@Url.Action("Index", "Students")' role="button" class="btn btn-warning">Back to Students</a>
  @* <p>@Html.ActionLink("Show all Students", "Index")</p> *@
</main>