@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<main class="container">

  <h2>Edit</h2>

  <h4>Edit this engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @* @Html.Label("Select Department")
      @Html.DropDownList("DepartmentId") *@

    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)

    @Html.LabelFor(model => model.EmploymentStartDate)
    @Html.TextBoxFor(model => model.EmploymentStartDate)

    <input type="submit" value="Save" />
  }
  <a href='@Url.Action("Index", "Engineer")' role="button" class="btn btn-warning">Back to engineers</a>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</main>